<div>
    <app-header></app-header>
    <div class="p-d-flex p-jc-center p-my-5">
      <div class="p-ml-5 w25">
        <app-user-page></app-user-page>
        <!-- <app-accordion></app-accordion> -->
      </div>
      <div class="w65">
        <router-outlet></router-outlet>
         <!-- <app-category></app-category> -->
        <!-- <app-meal></app-meal>-->
         <!-- <app-recipe></app-recipe> -->
        <app-recipe-page></app-recipe-page>
        <!-- <app-user-page></app-user-page> -->
        <!-- <app-critique-add></app-critique-add> -->

      </div>
    </div>

  </div>

