<div class="header p-d-flex p-jc-between p-pt-3 p-px-4">
    <div>
        <img src="https://img.icons8.com/carbon-copy/100/000000/bento.png"/>
        <h1>RecipeApp</h1>
    </div>
    <div class="p-mr-5">
        <h2><a href="categories">Categories</a></h2>
        <h2>Meals</h2>
        <h2>Recipes</h2>
    </div>
</div>
