.header {
    width: 100%;
    height: 5em;
    // color: rgb(92,26,27);
    h1 {
        padding-top: 20px;
        margin: 0 4em 0 0.5em;
        float: left;
    }
    h2 {
        float: left;
        padding: 27px 1em 0;
    }
    img {
        float: left;
        width: 70px;
        margin-left: 1.5em;
    }
    a {
      text-decoration: none;
      color: inherit !important;
    }
}
