.recipeCard {
    width: 30%;
    background: #ffffff;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    border-radius: 3px;
    padding: 1rem;
    margin-bottom: 0.5em;
    h1, i {
        color: #495057;
    }
}