h1 {
    font-size: 2.1em;
}
h3 {
    font-weight: 600;
}
p {
    font-size: 1.2em;
}
.content {
    width: 100%;
    .left {
        width: 58%;
    }
    .right {
        width: 40%;
        h1 {
            font-size: 2em;
        }
    }
}
