.meal-card {
    width: 10rem;
    margin-bottom: 1em;
    margin-right: 1em;
    img {
        display: block;
        margin: auto;
    }
    a {
      text-decoration: none;
      color: inherit !important;
      text-transform: capitalize;
      color: #000 !important;
    }
}
