<div class="p-d-flex p-flex-wrap">
    <p-card *ngFor="let m of meals"  class="meal-card">
      <h2 class="p-mt-3 p-pl-3"><a href="meals/{{m['id']}}">{{m['name']}}</a></h2>
        <img [src]="m['img']"/>
    </p-card>
</div>
<!-- https://img.icons8.com/carbon-copy/100/000000/rice-bowl.png -->
