<div *ngFor = "let cat of categories">
    <div class="categorycard">
        <p-card  [style]="{'width': '100%', 'margin-bottom': '1em'}">
            <ng-template pTemplate="header">
                <img alt="Card" [src]="cat['img']">
                <h2 class="p-mt-3 p-pl-3"><a href="categories/{{cat['id']}}">{{cat['name']}}</a></h2>
            </ng-template>
        </p-card>
    </div>
</div>
