img{
    object-fit: cover;
    height: 8em;
}
.categorycard:hover {
    text-decoration: underline;
    cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit !important;
  text-transform: capitalize;
  color: #000 !important;
}
