<div class="userPage">
    <div class="recipeAuthor p-pb-2 p-mb-5">
        <h3>Recipe Author</h3>
        <div class="p-d-flex p-mb-1">
            <img src="https://img.icons8.com/carbon-copy/100/000000/kawaii-french-fries.png"/>
            <div class="p-d-flex p-flex-column p-jc-center">
                <h2 class="p-mb-1">Author Name</h2>
                <p>Show Recipes</p>
            </div>
        </div>
    </div>
    <div *ngIf="user" class="yesSign p-mb-4">
        <h3>My Account</h3>
        <div class="p-d-flex p-mb-1">
            <img src="https://img.icons8.com/carbon-copy/100/000000/kawaii-taco.png"/>
            <div class="p-d-flex p-flex-column p-jc-center">
                <h2 class="p-mb-1">{{userName.username}}</h2>
                <p>Show Recipes</p>
            </div>
        </div>
        <div class="p-d-flex p-jc-between p-flex-wrap">
            <!-- icon="pi pi-search" -->
            <button pButton pRipple type="button" label="Change Name" class="p-button-secondary"></button>
            <button (click)="add()" pButton pRipple type="button" label="Add Recipe" class="p-button-success"></button>
            <button (click)="logout()" pButton pRipple type="button" label="Log Out" class="p-button-danger"></button>
        </div>
    </div>
    <div *ngIf = "!user" class="noSign">
        <div class="reg p-mb-3">
            <h2 class="p-mb-2">No Account? <br>Sign Up</h2>
            <div class="p-inputgroup p-mb-2">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="text" pInputText placeholder="Username">
            </div>
            <div class="p-inputgroup p-mb-3">
                <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                <input type="text" pInputText placeholder="Password">
            </div>
            <p-button label="Join!"></p-button>
        </div>
        <div class="log">
            <h2 class="p-mb-2">Log In</h2>
            <div class="p-inputgroup p-mb-2">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input [(ngModel)]="username" type="text" pInputText placeholder="Username">
            </div>
            <div class="p-inputgroup p-mb-3">
                <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                <input [(ngModel)]="password" type="text" pInputText placeholder="Password">
            </div>
            <p-button (click)="login()" label="Submit"></p-button>
        </div>
    </div>
</div>
<p-toast></p-toast>
